<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>차량 목록</h1>
    <a href="./admin">등록</a>
    <table width="100%">
        <tr>
            <th width="10%">번호</th>
            <th width="20%">브랜드</th>
            <th width="20%">차량명</th>
            <th width="10%">연식</th>
            <th width="10%">가격</th>
            <th width="10%">상태</th>
            <th width="10%">구매</th>
        </tr>
        <% for(var car of carList) { %>
            <tr>
                <td>
                    <%=car.no %>
                </td>
                <td>
                    <%=car.company %>
                </td>
                <td>
                    <%=car.title %>
                </td>
                <td>
                    <%=car.year %>
                </td>
                <td>
                    <%=car.price %>
                </td>
                <td>
                    <%=car.state %>
                </td>
                <td><button class="buyBtn" data-no="<%=car.no %>" <%=car.state==="예약중" || car.state==="판매완료"
                        ? "disabled" : "" %>>예약</button></td>
            </tr>
            <% } %>
    </table>
    <script>
        $("button.buyBtn").click(function () {
            const no = $(this).data("no");
            let urlStr = `/car/buy?no=${no}`;
            location.assign(urlStr);
        });
    </script>
</body>

</html>